.center {
  text-align: center;
}
.right {
  text-align:right!important;
}

.text-sm {
  font-size:inherit!important;
}

.error,
.warning,
.failure
{color: red}

.success,
.ok
{color: green}

.notice 
{color: blue}

.links-in-line {
  margin-top:12px;
  margin-bottom: 12px;
  text-align: center;
}
.links-in-line a {
  margin-left: 4px;
  margin-right: 4px;
}

.bold {font-weight: bold!important}

.bigger {font-size: 1.2em!important}
.tiny {font-size: 13pt!important}

.block {display: block!important}
.inline {display: inline!important}
.inline-block {display:inline-block!important}