.book .title {
  font-size: 1.1em;
  font-weight: bold;
  font-variant: small-caps;
}

.book .title span.author {
  font-variant: none;
  font-size: 0.8em;
  font-weight: normal;
}

.buttons .btn.small:before {content: "["}
.buttons .btn.small:after {content: "]"}