input,
select, select option,
textarea {
  font-size:inherit!important;
}

.btn {
  border:1px solid grey;
  border-radius: 5%;
  padding: 2px 12px 3px;
  font-family: Avenir;
  white-space: nowrap;
  background-color: #EEEEEE;
  color:rgb(41, 156, 41);
}

.btn.small {
  font-size: 0.8em;
}

.buttons {
  text-align: right;
}

form.philform {
  display:block;
  width: 100%;
}
form.philform > div:not(.buttons) {
  border: 1px solid #EEE;
  padding: 0.5em 0;
}
form.philform label:not(.inline) {
  display:block;
}

input[type="checkbox"] + label.inline {
  margin-left: 0.3em;
  vertical-align: text-top;
}

form.philform textarea {
  width: 100%;
  resize: none;
  min-height: 100px;
}
form.philform input[type="text"] {
  width: 100%;
}
form.philform div.explication {
  font-size: 13pt;
  font-style: italic;
}

form.philform div.buttons {
  text-align: right;
}

/* Pour marquer qu'un champ est erroné */
.form-error {
  background-color: #FFCCCC;
}
.form-error div.error {
  padding: 1em;
}