h2 {
  font-size: 1.9em;
  margin-bottom: 1.5em;
  margin-top:1.5em;
}

h3 {
  font-size:1.5em;
  margin-top:1.4em;
  margin-bottom:1em;
}

a {
  color: var(--maintheme-light);
}


ol, ul {
  @apply list-outside ml-20
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-[square]
}

/* 

    === PARAGRAPHES ===
    
*/

p {
  font-family: BelFonte, serif;
  text-align: justify;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color:#333333;
}

p strong, p b {
  color: #333;
  font-family: BelFonte, serif;
  font-weight: bold;
}

p.question {
  font-size: 1em;
  font-style: italic;
  font-weight:400;
  color: #000000;
}
p.reponse {
  font-size: 0.9em;
  margin-left:2em;
}

p.exergue {
  font-family: "Asap Condensed", sans-serif;
  margin: 1.5em 4em ;
  text-align: center;
  font-weight: 500;
  font-size: 1.05em;
}

div.previous-page-link {
  text-align: right;
  max-width: 1200px;
  margin-top: 2em;
}