<h2>Formulaire de soumission de candidature au comité de lecture</h2>
<p>Vous voulez donc rejoindre le comité de lecture du label <span class="label">Lecture de Qualité</span> en tant que lectrice ou lecteur et nous vous en remercions.</p>
<p id="attention">Nous vous invitons, si ce n’est pas déjà fait, à lire avec attention les pages suivantes qui vous informerons sur cet <nowrap>engagement&nbsp;:</nowrap></p>
<ul><li><a href="/pg/choix-membres?back=form/member-submit">Choix des membres du comité de lecture</a></li>
<li><a href="/pg/engagement-membres?back=form/member-submit">Engagement des membres du comité de lecture</a></li></ul>
<.form_member_submit changeset={@changeset} />
