<h2>Bienvenue</h2>
<p>Vous venez de vous inscrire, bienvenue à vous.</p>
<p>Quelques petites questions d’abord nous permettraient de mieux faire connaissance.</p>
<ul><li>êtes-vous lecteur, auteur ou les <nowrap>deux&nbsp;?</nowrap></li></ul>