<h2>Candidature au comité de lecture du label</h2>
<p class="description">Vous êtes autrice, auteur, lectrice ou lecteur, cette page vous permet de proposer votre candidature au comité de lecture du label <span class="label">Lecture de Qualité</span>.</p>
<%= form_comitee_reader(@params) %>
<p>UTILISER UN AUTRE TEMPLATE</p>