<div style="position:relative;clear:both;">
  <img src="/images/impasse.png" style="vertical-align:middle;float:left;margin-right:4em;margin-bottom:2em;" />
  <span class="bigger" style="padding:1.5em;border-radius:0.5em;position:absolute;display:block;background-color:red;color:white;left:8em;top:2em;">Il semblerait que vous n'ayez rien à faire sur cette page.</span>
</div>
<div style="clear:both;"> </div>
