<p>Merci de votre intérêt.</p>
<p>Mais pour pouvoir accomplir la procédure « <%= raw @procedure %> », vous devez vous <a href="/users/log_in?retour=/proc/newp/#{@proc_dim}">identifier</a> ou vous <a href="/users/register?retour=/proc/newp/#{@proc_dim}">inscrire</a>.</p>