<h1>En travaux</h1>

<div>
  <img 
    src={~p"/images/pictos/en_travaux.svg"} 
    style="width:100px;float:left;margin-right:2em;vertical-align:middle;"
    />
  <span
  style="font-size:20pt;vertical-align:middle;"
    >La route `<%= @route %>' est pour le moment en travaux.
  </span>
</div>