<h2>Page d’accueil de l’administration</h2>
<p>Bienvenue <%= @current_user.name %>.</p>
<ul><li><a href="/pages">Liste des pages</a></li>
<li><a href="/page_locales">Liste des pages localisées</a></li>
<li><a href="/users">Liste des membres du comité</a></li></ul>