<div class="explication">Pour créer une nouvelle page, il faut créer son enregistrement dans la base de données puis définir son texte dans le fichier créé dans chaque dossier de localisation dans le dossier `assets/pages/&ltlang>`.</div>