<h1>Foire Aux Questions</h1>

<p class="question">Je n’ai pas beaucoup de temps pour participer. Est-ce un problème ?</p>
<p class="reponse">Non, l’important est de le faire avec suffisamment de régularité pour ne pas perdre trop en <a href={~p"/mot/credit"}>crédit</a>.</p>

<p class="question">Le fait d’être membre du comité m’empêche-t-il de soumettre mes livres ?</p>
<p class="reponse">Absolument pas. Comme l’on fait la plupart des lectrices-autrices et lecteurs-auteurs du comité.</p>
