<h2>Accueil du label</h2>

<p>Bienvenue sur la page d'accueil du site du label <span class="label">Lecture de Qualité</span> !</p>

<section id="last_activities">
  <.last_activities logs={@logs} />
</section>